<nav>
    <a class="navLink" href="/">Home</a>
    <div class="container">
        <form class="containerForm" action="/historic" method="POST">
            <select name="criptoName" class="criptoSearch" required>
                <option value="" selected disabled hidden>Histórico..</option>
                <option value="Bitcoin">BTC</option>
                <option value="Ethereum">ETH</option>
            </select>
            <button id="btn" type="submit"><img id="search" src="/assets/search.png" alt="magnifyingGlass"></button>
        </form>
        <a class="navLink" href="/dashboard.html">Dashboard</a>
    </div>
</nav>